@media only screen and (min-width: 980px) {
  .menu-cards{
    display: flex;
  }
  .menu-header-container {
    display: flex;
    justify-content: space-between;
  }
  .menu-header{
    margin-top: 6.8vw;
    font-size: 4vw;
    text-align: left;
    text-transform: uppercase;
  }
  .menu-logo{
    display: inline-block;
    height: 9.5vw;
    width: 13vw;
    margin-top: 6vw;
    margin-right: 4vw;
  }
  .cards-item{
    width: 50%;
  }
  .card-header{
    font-size: 3.13vw;
    height: 4.2vw;
    margin-top: 1.6vw;
    padding-top: 1.37vw;
    padding-left: 2.8vw;
  }
  .card-interior{
    width: 45vw;
    margin-top: 2.1vw;
    margin-left: 2.6vw;
  }
  .card-menu-type{
    margin-bottom: 0.6vw;
  }
  .menu-type-header{
    font-size: 2.5vw;
    margin-top: 0.7vw;
  }
  .menu-type-icon{
    width: 3.7vw;
    height: 3.7vw;
  }
  .menu-single{
    margin-top: 1.5vw;
    font-size: 2.25vw;
  }
  .menu-single-first{
    margin-top: 1.75vw;
  }
  .single-about{
    font-size: 1.4vw;
    margin-top: 1.05vw;
    /* margin-right: 19px; */
    word-spacing: 0.03vw;
    line-height: 1.6vw;
  }
  .card-menu-type-second{
    margin-top: 2.7vw;
  }
  .second{
    width: 2vw;
    height: 3.75vw;
    margin-right: 1vw;
  }
  .cards-item-second{
    margin-top: 0;
  }
  .third{
    width: 4.5vw;
    height: 3vw;
    margin-top: 0.1vw;
  }
  .fourth{
    width: 3.5vw;
    height: 3vw;
    margin-top: 0.5vw;
    /* margin-left: 12px; */
    margin-right: 0.45vw;
  }
  .menu-single-header-second{
    margin-top: 0.5vw;
  }
}