@media only screen and (min-width: 980px){
  footer{
    width: 100%;
    height: 17.5vw;
    margin-top: 9vw;
    display: flex;
    align-items: center;
  }
  .footer--logo{
    display: inline-block;
    margin: 0 27vw 0 3vw;
    height: 9vw;
    width: 11vw;
  }
  .footer--text{
    color: white;
    text-align: center;
    font-size: 2vw;
    margin-top: 0;
  }
  .footer--text__first {
     padding-top: 0;
     margin-left: 0;
    letter-spacing: 0.059vw;
  }
}