@media only screen and (min-width: 980px) {
  .navigation__burger{
    display: none;
  }
  .navigation__title{
    display: none;
  }
  .header--logo{
    display: inline-block;
    margin-right: 4vw;
    height: 8vw;
    width: 10vw;
  }
  .navigation__links{
    font-family: Montserrat;
    display: flex;
    color: white;
    font-size: 1.7vw;
    text-transform: uppercase;
  }
  .navigation__links--item{
    margin: 0 1.7vw;
  }
  .options{
    display: flex;
    flex-direction: row;
  }
  .options-button{
    height: 33vw;
    flex: 1;
    width: 33.3%;
    margin-top: 0;
  }
  .options-button-main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: 0;
    background-size: 100%;
  }
  .option-header{
    font-size: 4vw;
 margin-left: 0;
 margin-top: 0;
}
.options-button-arrow{
display: none;
}

}