.menu{
  width: 100%;
  font-family: Lato;
}

.menu-header{
  margin-top: 6.8vw;
  font-size: 6.25vw;
  text-align: center;
  text-transform: uppercase;
}
.menu-header-info{
  font-size: 3.1vw;
  margin-top: 1vw;
  margin-left: 3vw;
  color: #d5d6d8;
}
.menu-logo{
  display: none;
}
.card-header{
  background-color: #373c3f;
  font-size: 6.27vw;
  color: #acd8ad;
  height: 8.5vw;
  text-transform: uppercase;
  margin-top: 3.2vw;
  padding-top: 2.77vw;
  padding-left: 5.6vw;
}
.card-interior{
  width: 89.24vw;
  margin-top: 4.2vw;
  margin-left: 5.17vw;
  display: flex;
  flex-direction: column;
}
.card-menu-type{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.16vw;
}
.menu-type-header{
  text-transform: uppercase;
  font-size: 4.715vw;
  margin-top: 1.45vw;
}
.menu-type-icon{
  width: 7.5vw;
  height: 7.5vw;
}

.menu-single{
  margin-top: 3.05vw;
  font-size: 4.5vw;
}
.menu-single-first{
  margin-top: 3.5vw;
}

.menu-single-header{
  display: flex;
  justify-content: space-between;
}

.single-name{
  letter-spacing: -0.099vw;
}

.single-price{
  letter-spacing: -0.23vw;
  font-weight: bold;
}

.single-about{
  font-size: 2.83vw;
  margin-top: 2.1vw;
  /* margin-right: 19px; */
  letter-spacing: -0.046vw;
  word-spacing: 0.06vw;
  line-height: 3.24vw;
}

.card-menu-type-second{
  margin-top: 5.4vw;
}

.second{
  width: 4vw;
  height: 7.5vw;
  margin-right: 2vw;
}

.cards-item-second{
  margin-top: 10.65vw;
}

.card-header-second{
  background-color: #acd8ad;
  color: white;
}

.third{
  width: 9vw;
  height: 6vw;
  margin-top: 0.2vw;
}
.fourth{
  width: 7vw;
  height: 6vw;
  margin-top: 1vw;
  /* margin-left: 12px; */
  margin-right: 0.9vw;
}

.menu-single-header-second{
  margin-top: 1vw;
}
