footer{
  width: 100%;
  height: 17.5vw;
  background-color: #acd8ad;
  margin-top: 19vw;
}
.footer--logo{
  display: none;
}
.footer--text{
  color: white;
  text-align: center;
  font-size: 4.42vw;
  margin-top: 1.5vw;
}

.footer--text__first{
  padding-top: 3.96vw;
  margin-left: 2.3vw;
  letter-spacing: 0.059vw;
}