.header {
  display: flex;
  width: 100vw;
}
.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $headerGray;
  height: 11vw;
}
.navigation__title{
  font-family: Montserrat;
  font-size: 3.84vw;
  padding: 3.3vw 7vw 3.5vw 5.6vw;
  color: white;
}
.navigation__links{
  display: none;
  cursor: pointer;
}
.navigation__burger{
  width: 13vw;
  background-color: #202529;
  height: 11vw;
  color: white;
}

.navigation__burger--item{
  width: 4.8vw;
  height: 0.9vw;
  background-color: white;
  margin: 0.6vw auto;
}
.burger--first{
  margin-top: 3.7vw;
}
.header--logo{
  display: none;
}
.main{

  background-image: url("../img/pizza-header.png");
  color: white;
  height: 54.7vw;
  display: flex;
  flex-direction: column;
  background-repeat: round;
}
.main__title{
  font-family: Lato;
  font-size: 4.7vw;
  padding-left: 6.7vw;
  word-spacing: -0.1vw;
  letter-spacing: 0.18vw;
}
.title--first{
  padding-top: 6vw;
}
.title--second{
  padding-top: 2.5vw;
}

.main__link{
  font-family: Lato;
  font-size: 4.4vw;
  margin-top: 3.07vw;
  text-decoration: none;
  color: #a6d6e0;
  padding-left: 6.5vw;
  padding-top: 0.35vw;
  letter-spacing: 0.08vw;
}
.options{
  margin-top: 1.3vw;
  width: 100%;
  color: #fff;
}
.options-button{
  height: 23.19vw;
  display: flex;
  margin-top: 0.8vw;
}
.options-button-main{
  width: 78%;
}
.delivery{
  background-image: url("../img/delivery.png");
  background-position: 92% 95%;
  background-size: 100vw;
}
.option-header{
  font-family: Lato;
  font-size: 6.4vw;
  margin-left: 19.6vw;
  margin-top: 7.8vw;
  //letter-spacing: 0.1px;
}
.option-header-salad{
  margin-left: 23vw;
  margin-top: 8.5vw;
}
.option-header-desert{
  margin-left: 26vw;
  margin-top: 7.8vw;
}
.options-button-arrow{
  height: 100%;
  width: 22%;
  background-color: #acd8ad;
  display: flex;
  justify-content: center;
  align-items: center;
}
.salad{
  background-image: url("../img/salad.png");
  background-position: 0vw 94%;
  background-size: 78vw;
}

.desert{
  background-image: url("../img/desert.png");
  background-position: 0vw 16%;
  background-size: 78.5vw;
}

